.qualificacao{
    display: flex;
    flex-direction: column;
    background: #E5E5E5;;
}

.qualificacao__texto{
    max-width: 100vw;
    
}
.qualificacao__titulo{
    font-size: 3.25rem;
    text-align: justify;
    font-weight: 400;
    font-family: Raleway;
    margin-bottom: 2rem;
}

.qualificacao__formacao{
    font-size: 1.8rem;
}

.foto__qualificacao{
    border-radius: 50%;
    width: 10rem;
    height: auto;
    margin-bottom: 2rem;
}


.cabecalho__link__redes{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 1rem;
    }

.qualificacao__redes{
    padding: 1rem;
}
