.sobre__mim{
    padding-top: 6%;
    background-color: rgb(52, 59, 59);
}

.sobre__mim h3{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.sobre__mim p{
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
    padding-top: 5%;
}

.sobre img{
    margin-top:6%;
    margin-bottom: 6%;
}