:root{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: rgb(75, 83, 87)
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.container{
    margin-left: 6%;
    margin-right: 6%;
}

